<.header>
  Sharing <%= @sharing.id %>
  <:subtitle>This is a sharing record from your database.</:subtitle>
</.header>

<.list>
  <:item title="Name"><%= @sharing.plot.name %></:item>
  <:item title="From"><%= @sharing.plot.user.email %></:item>
</.list>

<div
  id="plot"
  phx-hook="Plotly"
  data-plotly={
    Jason.encode!([
      %{
        "x" => Enum.into(@datapoints, []),
        "type" => "histogram"
      }
    ])
  }
>
</div>

<.back navigate={~p"/sharings"}>Back to sharings</.back>
